$khaki:#9f9280;         // 卡其色
$red-brown:#C68C70;      // 紅棕色
$goose-yellow:#EADEBC;   // 鵝黃色
$white:#ffffff;         // 白色
$light-yellow:#F0EADB;   // 淡黃色
$gray:#EFEAEA;          // 灰
$light-yellow:#A79F8D;   // 淺灰綠
$black:#040302;         // 黑
$gray85:#584d49;
$title-gray:#333232;