@import 'color';
.d-block {
    display: inline-block !important;
}
// General template
.title-section {
    font-family: Arial;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 3.2px;
    text-align: center;
    color: $title-gray;
}

//product list
.product-card {
    padding: 5px;
    .card-area {
        background-color: rgba(240, 240, 240, 0.44);
        ;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 40%; 
        left: 40%;
        .card-title {
            float: right;
        }
        .card-text {

        }
    }

}

// appointment 
.input-group-text {
    background-color: $white;
    border-top-style:none;
    border-bottom-style: groove 3px #707070;
    border-right-style:none;
    border-left-style:none;
    font-weight: bold;
    color: $black;
}
.form-control {
    background-color: $white;
    border-top-style:none;
    border-bottom-style: groove 3px #707070;
    border-right-style:none;
    border-left-style:none;
    text-align: right; 
}
.custom-select {
    background-color: $white;
    border-top-style:none;
    border-bottom-style: groove 3px #707070;
    border-right-style:none;
    border-left-style:none;
    direction: rtl;

}
.form-area {
    border:solid 1px #707070;
    text-align: left; 
}

// footer section 
.copyright {
    font-size: 14px;
    font-family: Arial;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: $khaki;
    .citylogo {
        width: 50px;
        height: 20px;
    }
    .footer-inf-icon {
        padding: 10px;
        .foooter-icon {
            width: 28px;
            height: 28px;
            margin-top: 10px;
            margin-left: 36px;
            margin-left: 36px;
        }
    }
    .footer-inf {
        .footer-inf-time {
            font-size: 20px;
            .footer-inf-time-clock-icon {
                width: 16px;
                height: 16px;
                padding-top: 2px;
            }
        }
    }
    .footer-select {
        font-weight: bold;
        font-stretch: normal;
        line-height: 1.8;
        letter-spacing: 0.28px;
        a {
            text-decoration:none;
        }
        .footer-title {
            color: $gray85;
            font-weight:bold;
        }
        .footer-item {
            color: $khaki;
            font-weight:normal;
        }
    }
}

.footer-copy-right {
    margin-top: 10px;
    background-color: $khaki ;
    color: $white;
    height: 24x;
    font-size: 12px;
}

// admin page 
.add-btn {
    float: right;
    margin: 10px;
}

// Accounting to device width to change view

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .small-device {
        visibility:hidden;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .small-device {
        visibility:hidden;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .small-device {
        visibility:hidden;
    }
 }
