    <div class="copyright">
        <div class="footer-copy-right text-center">Copy Right © City Curtain Desigh</div>
    </div>	
    <script  src="/javascripts/jquery.min.js"></script>
    <script  src="/javascripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="/javascripts/script.js"></script>
    </body>
</html>