<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="" />

    <title><%= pageTitle %></title>

    <link rel="shortcut icon" href="/img/favicon.ico"> 

    <!-- Custom Theme files -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="shortcut icon" href="/img/favicon.ico"> 

    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>

    <!--//web-fonts-->
    <script  src="/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script  src="/js/bootstrap.min.js"></script>
</head>
<body>
